html {
    margin: 0;
    height: 100%;
}

body {
    background: url("../img/origami2.png") repeat;
    margin: 0 auto;
    height: 100%;

}

@media screen and (min-width: 480px) and (max-width: 900px) {
    body {
        max-width: 480px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    body {
        max-width: 900px;
    }
}

@media screen and (min-width: 1200px) {
    body {
        max-width: 1200px;
    }
}

.header {
    height: 100px;
    background-color: rgba(243, 240, 50, 0.85);
}

.content {
    min-height: calc(100% - 200px);
    background-color: rgba(243, 125, 44, 0.85);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.footer {
    height: 100px;
    background-color: rgba(29, 74, 243, 0.85);
}

/*.elements {*/
    /*width: 180px;*/
    /*height: 250px;*/
    /*background-color: #fff;*/
    /*margin: 25px;*/
    /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
    /*border-radius: 20px;*/
/*}*/




