body {
    margin: 0;
    background: url("../img/origami2.png") repeat;
}

a {
    text-decoration: none;
    color: #999;
}

.block-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;

}

.content {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    min-height: 500px;
    padding: 10px 20px;
    flex: 1 0 auto;
}

.description {
    display: flex;
}

.elements {
    display: flex;
    width: 180px;
    height: 250px;
    background-color: #fff;
    margin: 25px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 20px;
}

.footer-main {
    display: flex;
    flex-shrink: 0;
    height: 100px;
    background-color: #555;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 100px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777
}

.input-field {
    display: flex;
    margin: 20px 0;
}

.input-field input {
    flex: 1;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: red;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    min-height: 1000px;
    margin: 0 auto;
    background-color: rgba(17, 9, 0, 0.19);
}





