@font-face {
    font-family: 'Jura-Bold';
    src: url("../fonts/Jura/Jura-Bold.ttf");
}
@font-face {
    font-family: 'Jura-Regular';
    src: url("../fonts/Jura/Jura-Regular.ttf");
}
@font-face {
    font-family: 'Jura-SemiBold';
    src: url("../fonts/Jura/Jura-SemiBold.ttf");
}
@font-face {
    font-family: 'Play-Regular';
    src: url("../fonts/Play/Play-Regular.ttf");
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 20%;
    background-image: url("../img/origami/side-triangle-bg.svg"),
    url("../img/origami/left-side-triangle-bg.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    box-shadow: 0 0 3px 0 #607d8b;
}


@media screen and (min-width: 480px) and (max-width: 900px) {
body {
    max-width: 480px;
}
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
body {
    max-width: 900px;
}
}

@media screen and (min-width: 1200px) {
body {
    max-width: 1200px;
}
}

.content {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 0 auto;
    width: inherit;
    margin: 0 70px;
}

.footer {
    display: flex;
    flex-shrink: 0;
    height: 100px;
    background-color: #f5f5f5;
}

.footer__text {
    font-family: 'Jura-Regular', serif;
    margin: 40px 10%;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    width: inherit;
    height: 60px;
}

.header__logo {
    display: flex;
}

.header__logo img {
    width: 35px;
    height: 48px;
}

.search-form {
    display: flex;
    width: 100vw;
    margin: 10px 0;
    border-radius: 2px;
    background-color: #fff;
    opacity: 0.5;
    -webkit-box-shadow: 2px 2px 7px -1px #607d8b;
    -moz-box-shadow: 2px 2px 7px -1px #607d8b;
    box-shadow: 2px 2px 7px -1px #607d8b;
}

.search-form:hover {
    opacity: 1;
}

.search-form__input {
    width: 100%;
    border: none;
    margin: 0 0 0 15px;
}

.search-form__input::-moz-placeholder {
    font-family: 'Play', sans-serif;
    font-size: 18px;
}

.search-form__button {
    width: 30px;
    height: 30px;
    border: none;
    margin: 5px;
    background: url("../img/search.svg") no-repeat;
    cursor: pointer;
}

.description {
    margin: 20px 0;
}

.description span {
    font-size: 16px;
    line-height: 25px;
    font-family: 'Play-Regular', sans-serif;

}
.description span:first-child {
    font-family: 'Jura-SemiBold', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.description span:nth-child(2) {
    font-family: 'Jura-Bold', sans-serif;
    font-size: 20px;
}

.categories {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.categories__cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1 0 20%;
    height: 170px;
    width: 170px;
    margin: 10px;
    box-sizing: border-box;
    background-color: #fff;
    -webkit-box-shadow: 3px 3px 11px -3px #607d8b;
    -moz-box-shadow: 3px 3px 11px -3px #607d8b;
    box-shadow: 3px 3px 11px -3px #607d8b;
}

.categories__grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0;
}

.categories__cell a {
    text-decoration: none;
    color: black;
}

.categories__cell img {
    width: 71px;
    height: 100px;
}

.categories__name {
    display: flex;
    justify-content: center;
    font-family: "Play-Regular", sans-serif;
}
.categories__button-more {
    width: 50px;
    height: 32px;
    margin: 15px auto;
    border: none;
    font-family: "Jura-Regular", sans-serif;
    background-color: transparent;
}
.categories__button-more:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.categories__title {
    font-size: 20px;
    font-family: 'Jura-Bold', sans-serif;
}

