body {
    background: url("../img/origami2.png") repeat;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0 auto;

}

@media screen and (min-width: 480px) and (max-width: 900px) {
    body {
        max-width: 480px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    body {
        max-width: 900px;
    }
}

@media screen and (min-width: 1200px) {
    body {
        max-width: 1200px;
    }
}

.content {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 0 auto;
    background-color: rgba(243, 125, 44, 0.85);
}

.footer {
    display: flex;
    flex-shrink: 0;
    height: 100px;
    background-color: #555;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    width: inherit;
    height: 100px;
    background-color: rgba(243, 240, 50, 0.85);
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
.logo {
    display: flex;
}
.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
}

.button-toggle,
.button-language {
    position: relative;
    display: inline-flex;
}

.button-toggle input {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 5;
    cursor: pointer;
    opacity: 0;
}

.button-toggle label {
    display: inline-flex;
    position: relative;
    width: 100px;
    height: 50px;
    background-color: #777;
    border-radius: 30px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.button-toggle label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #fff;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.button-toggle input:checked + label:after {
    left: 55px;
}

.button-language:after,
.button-language:before {
    content: "En";
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: Arial, "Helvetice Neue", Helvetice, sans-serif;
    font-size: 22px;
    color: #ff5173;
}

.button-language:before {
    content: "Ru";
    left: 10px;
    z-index: 4;
    color: #1227ff;
}

.button-language input {
    display: flex;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    opacity: 0;
}

.button-language label {
    display: inline-flex;
    position: relative;
    width: 90px;
    height: 50px;
    border-radius: 5px;
    background-color: #9cff33;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.button-language label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.button-language input:checked + label:after {
    left: 45px;
}

/*.elements {*/
    /*display: flex;*/
    /*width: 180px;*/
    /*height: 250px;*/
    /*background-color: #fff;*/
    /*margin: 25px;*/
    /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
    /*border-radius: 20px;*/
/*}*/



