.page {
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    background-color: #EEEEEE;
    background:
      url('left-bg-sm.png') 0 0 repeat-y,
      url('right-bg-sm.png') 100% 0 repeat-y;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.page__content {
    min-height: 100%;
    flex: 1 auto;
    background-color: #F5F5F5;
    box-shadow: 0 0 8px 0 #607d8b;
    padding: 0 50px;
    z-index: 1;
}

@media screen and (min-width: 480px) and (max-width: 900px) {
    .page__content {
        max-width: 480px;
    }
    .page__bg-left, .page__bg-right {
        display: none;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .page__content {
        max-width: 600px;
    }
}

@media screen and (min-width: 1200px) {
    .page__content {
        max-width: 1000px;
    }
}

.page__header {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page__logo {
    height: 50px;
}

.page__main {

}

.page__footer {
    height: 80px;
    margin-top: 50px;
    background: #ffffff;
    position: relative;
    left: -50px;
    width: calc(100% + 100px);
}