@font-face {
  font-family: 'Jura-Bold';
  src: url("fonts/Jura/Jura-Bold.ttf");
}
@font-face {
  font-family: 'Jura-Regular';
  src: url("fonts/Jura/Jura-Regular.ttf");
}
@font-face {
  font-family: 'Jura-SemiBold';
  src: url("fonts/Jura/Jura-SemiBold.ttf");
}
@font-face {
  font-family: 'Play-Regular';
  src: url("fonts/Play/Play-Regular.ttf");
}

* {
  box-sizing: border-box;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

