.root {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tile {
    position: relative;
    margin:0;
    padding: 0;
    text-indent: 0;
    list-style-type: 0;
}