.root {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tile {
    position: relative;
    margin:0;
    padding: 0;
    text-indent: 0;
    list-style-type: 0;
}

.more {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    width: 100%;
    height: 60px;
    cursor: pointer;
}