.root {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
    background-color: #F5F5F5;
    box-shadow: 1px 1px 3px 1px #607d8b;
    opacity: 0.75;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
.root:hover {
    opacity: 1;
    /* background-color: #ffffff; */
}

.img {
    height: 130px;
    width: 130px;
    padding: 0 10px;
}

.right {
    flex: 1;
}

.title {
    font-family: Jura-Bold;
    color: #263238;
    font-size: 18pt;
    line-height: 18pt;
    margin: 0px 0 10px 0;
    width: 80%;
    text-align: center;
}

.description {
    margin: 5px;
}

.description__title {
    display: inline-block;
    width: 30%;
    padding: 3px 0;
    font-family: Play;
    font-size: 10pt;
    opacity: 0.5;
}

.description__title::after {
    content: ":";
}

.description__value {
    display: inline-block;
    flex: left;
    width: 55%;
}

.icon {
    width: 16px;
    height: 16px;
}